h1 {
    color: black;
    text-align: center;
    padding: 10px;
    margin: 20px;
    display: block;
    background-color: #CEB888;
    border-style: ridge;
    border-color: black;
}

h2 {
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

h3 {
    color: black;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

button {
    color: black;
    font-size: 17px;
    padding: 20px;
    margin: 10px;
    mix-blend-mode: multiply;

}

button:hover {
    border-style: inset;
    border-width: 3px;
    border-bottom: black;
    border-style: ridge;
}

.dropdown {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.dropbtn {
    color: black;
    border: none;
    padding: 20px;
    /* background-color: #CEB888; */

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: crimson;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Style the header */
.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
    width: 50%;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

.textBox {
    background-color: grey;
    opacity: 25%;
    color: white;
    text-align: center;
    width: 20%;
    float: right;
}

#txtBackground {
    /* (A1) FULLSCREEN */
    position: fixed; z-index: 999;
    top: 0; left: 0;
    width: 100%; height: 100%;
   
    /* (A2) TRANSPARENT BACKGROUND */
    background: rgba(0, 0, 0, 0.5);
   
    /* (A3) HIDDEN BY DEFAULT */
    display: none;
}

#txtBackground.show { display: block; }
 
/* (B) DIALOG BOX */
#boxBack {
  /* (B1) CENTER ON SCREEN */
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
 
  /* (B2) DIMENSIONS */
  min-width: 320px; max-width: 600px;
  padding: 10px;
 
  /* (B3) COLORS */
  background: #fff;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuoption {
    max-width: 100%;
    max-height: 9vh;
    margin: auto;
}

.menuoption:hover {
    opacity: 60%;
}

.imgbox {
    display: grid;
    height: 100%;
    width: 100%;
}

.center-fit {
    display: block;  
    margin: auto; 
    max-width: 50%;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
} */

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    margin: auto; 
    max-width: 60%;
    max-height: 60%;
}
  
  /* Hide the images by default */
.mySlides {
    display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(203, 35, 225, 0.8);
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(56, 56, 56, 0.2);
}
  
  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}
  
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    max-height: 10vh;
    object-fit: cover;
}
  
.active,
.demo:hover {
    opacity: 1;
}

.slideshow-img {
    object-fit: cover;
    max-height: 100%;
}